$bg-color: #f6f6f6;
$fg-color: #252525;
$change-padding: .2rem;

*, *::before, *::after {box-sizing: border-box}

html {font-size: 14px}

body {
  background-color: $bg-color;
       font-family: sans-serif;
             color: $fg-color;
}

#mount {
  background-color: #fff;
         max-width: 64rem;
           padding: 2rem;
            margin: 4rem auto;
            border: 1px solid #a7d7f9;
}

.changes {
  background-color: lighten($bg-color, 1%);
        margin-top: 1rem;
         word-wrap: break-word;
           padding: $change-padding 0;
            border: 1px solid darken($bg-color, 30%);
}

.user {
  &:hover {text-decoration: none}
  &.black {color: $fg-color}
   &.blue {color: #0645ad}
    &.red {color: #ba0000}
}

/* TODO: This feels ugly.. */
.edit {
  /* float: right; */
  font-size: .7rem;
   position: absolute;
      right: $change-padding;
        top: .2rem;

     &.green {color: #02660c}
       &.red {color: #8b0000}
}

.change {
  position: relative;
   padding: 0 $change-padding;
    cursor: default;

    &:hover {background-color: darken($bg-color, 2%)}
}

.minor::after {content: '[M]'}

.siteCode {font-family: monospace}

a {
  text-decoration: none;
            color: #0645ad;

         &:visited {color: #663366}
           &:hover {text-decoration: underline}
           &:focus {outline: none}
}
